.board-card-approved-by {
  cursor: pointer !important;
}

.reviewer-avatar {
  position: relative;
  top: 1.5px;
  vertical-align: baseline;
  margin-left: 2px;
  border-radius: 100%;
}

.reviewer-avatar-in-review {
  opacity: .3;
}
